<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TFTroll</title>
    <style>
        *{
            font-family: Arial;
        }
        body {
            background: #555;
        }

        .content {
            max-width: 500px;
            margin: auto;
            background: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <form action="profile.php" method="GET">
            <select name="region">
                <option value="0">BR</option>
                <option value="1">EUNE</option>
                <option value="2">EUW</option>
                <option value="3">JP</option>
                <option value="4">KR</option>
                <option value="5">LAN</option>
                <option value="6">LAS</option>
                <option value="7">NA</option>
                <option value="8">OCE</option>
                <option value="9">TR</option>
                <option value="10">RU</option>
                <option value="11">PBE</option>
            </select>
            <input name="q" type="text">
            <input type="submit">
        </form>
    </div>
    <br>
    <div class="content">
        <img width="128" height="128" src="https://ddragon.leagueoflegends.com/cdn/9.14.1/img/profileicon/{{ icon }}.png" alt="Icon">
        <p><b>Nome de invocador:</b> {{ summonerName }} </p>
        <p><b>Liga:</b> {{ tier }} </p>
        <p><b>Divisão:</b> {{ rank }}</p>
        <p><b>Pontos de liga:</b> {{ leaguePoints }} </p>
        <p><b>Vitorias:</b> {{ wins }} </p>
        <p><b>Derrotas:</b> {{ losses }} </p>
    </div>
</body>
</html>